include _mixins
include _variables

block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        block head_start
        title= title
        meta(name="description" content=description)
        link(href=require('../assets/images/favicon.png') rel='shortcut icon' type='image/x-icon')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href=require("../styles/normalize.css"), rel="stylesheet")
        link(href=require("../styles/style.scss"), rel="stylesheet")
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css')
        script(src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js' defer)
        script(src='https://formdesigner.ru/js/widgets/popup.js?v=0.0.3')
        block styles
    body
        block body_start
        include _header
        block main
        include _footer
    block scripts
