extends _base

block variables
    - prefixUrl = "../index.html"
    -
        navLinks = [
            {
                name: "Обучение",
                href: `${prefixUrl}#studying`
            },
            {
                name: "Цены",
                href: `${prefixUrl}#prices`
            },
            {
                name: "Автопарк",
                href: `${prefixUrl}#auto`
            },
            {
                name: "Команда",
                href: `${prefixUrl}#instructors`
            },
            {
                name: "Филиалы",
                href: `${prefixUrl}#branches`
            },
            {
                name: "Отзывы",
                href: `${prefixUrl}#reviews`
            }
        ]
    - branch = {}

block styles
    link(href=require("../styles/components/branch.scss"), rel="stylesheet")

block main
    section#branch
        h1.branch__title.h2_dashed.text_center.text_uppercase= 'Автошкола ' + branch.name
        .container
            ul.branches__list
                li.map
                    iframe(src=branch.mapSrc style= 'border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade' width='600' height='450')
                li.branch__info
                    ul.contacts
                        li.contacts__li
                            img.contacts__icon.point-svg(src=require('../assets/icons/point.svg') alt='')
                            p.contacts__address.text_uppercase= branch.address
                        li.contacts__li
                            img.contacts__icon(src=require('../assets/icons/telephone-fill.svg') alt='')
                            p.contacts__phone
                                a.branch__link(href=`tel:${phone.notFormatted}`)= phone.formatted
                        //li.contacts__li
                        //    img.contacts__icon(src=require('../assets/icons/envelope-fill.svg') alt='')
                        //    p.contacts__mail
                        //        a.branch__link(href=`mailto:${mail}`)= mail
                        li.contacts__li
                            img.contacts__icon(src=require('../assets/icons/clock-fill.svg') alt='')
                            .contacts__schedule.text_uppercase= workTime
    section#enroll
        h2.h2.h2_dashed.text_uppercase.text_center
            span.h2_text Оставить заявку
        .container
            p.enroll__description.text_uppercase.text_center Наш менеджер перезвонит вам
            +enrollForm(1)