header#header.header_scrolling
    .container.header__container
        nav.header__nav
           .header__logo-box
               a(href=prefixUrl)
                   img.header__logo(src=require('../assets/images/logo.webp') alt='Лого АвтоМск')
           ul.header__links-list
               each link in navLinks
                   li.header__links-item
                        a.header__link(href=link.href)= link.name
           .header__mobile
            input#burger-input(type='checkbox')
            label.burger(for='burger-input')
                svg(width='56' height='26' viewBox='0 0 56 26' fill='none' xmlns='http://www.w3.org/2000/svg')
                    line(y1='2.5' x2='56' y2='2.5' stroke='white' stroke-width='5')
                    line(y1='23.5' x2='56' y2='23.5' stroke='white' stroke-width='5')
            ul.header__mobile-nav
                each link in navLinks
                    li.header__links-item
                       a.header__link(href=link.href class= link.active ? 'active' : '')= link.name
                li.header__links-item
                    ul.header__social-list.social-list
                        li.social-item
                            a.social-link(href=vk target="_blank")
                                img.social_icon(src=require("../assets/icons/vk.svg") alt="ВКонтакте")





