extends components/_base

block head_start
    meta(name='yandex-verification' content='ab41e8ff7bf3b562')
    script.
        (function (a, m, o, c, r, m) {
            a[m] = {
                id: "246883",
                hash: "4ce0200c746a045c0d8aca6281162bb222d00b518f3b1cd7e23ea78a33cedfe2",
                locale: "ru",
                inline: false,
                setMeta: function (p) {
                    this.params = (this.params || []).concat([p])
                }
            };
            a[o] = a[o] || function () {
                (a[o].q = a[o].q || []).push(arguments)
            };
            var d = a.document, s = d.createElement('script');
            s.async = true;
            s.id = m + '_script';
            s.src = 'https://gso.amocrm.ru/js/button.js?1690370776';
            d.head && d.head.appendChild(s)
        }(window, 0, 'amoSocialButton', 0, 0, 'amo_social_button'));

block variables
    - navLinks[0].active = true

block styles
    script(src=require("js/index.js"), defer)
    link(href=require("styles/components/main.scss"), rel="stylesheet")

block main
    block body_start
        // Yandex.Metrika counter
        script.
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
            ym(91777280, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
            });
        noscript
            div
                img(src='https://mc.yandex.ru/watch/91777280' style='position:absolute; left:-9999px;' alt='')
        // /Yandex.Metrika counter
    main#main
        section#automsk
            .container.automsk__container
                p.automsk__title.text_uppercase
                    span.automsk__paragraph За правами
                    br
                    span.automsk__paragraph категории A, B — к нам!
                h1.automsk__description-box.text_uppercase
                    span.automsk__description-text / Автошкола в Москве
                    span.automsk__description-text / Обучение вождению А и B, C, D, E
                    span.automsk__description-text / С гарантией получения прав
                .automsk__interactive-box
                    +enrollModal('btn btn_square', 'Записаться')
                    a.phone.automsk__phone(href=`tel:${phone.notFormatted}`)= phone.formatted
                ul.automsk__social-list.social-list
                    li.social-item
                        a.social-link(href=vk target="_blank")
                            img.social_icon(src=require("assets/icons/vk.svg") alt="ВКонтакте" loading="lazy")
        section#about
            h2.h2.h2_dashed
                span.h2_text АвтоМСК В ЦИФРАХ
            .container
                ul.facts__list.text_uppercase
                    li.fact__item.fact__item_1
                        .fact__box.fact__box_rounded
                            p.fact__title 3
                            p.fact__inner-description месяца
                        .fact__bottom-description.text_center продолжительность обучения на права
                    li.fact__item.fact__item_2
                        .fact__box.fact__box_rounded
                            p.fact__title 5
                            p.fact__inner-description лет
                        .fact__bottom-description.text_center учим на права категории А, B, C, D, E
                    li.fact__item.fact__item_3
                        .fact__box.fact__box_borderless
                            p.fact__title 17
                            p.fact__inner-description аудиторий
                            p.fact__title 5
                            p.fact__inner-description автодромов
                        .fact__bottom-description.text_center учитесь вождению рядом с домом
                    li.fact__item.fact__item_4
                        .fact__box.fact__box_rounded
                            p.fact__title 3 783
                            p.fact__inner-description выпускника
                        .fact__bottom-description.text_center прошли обучение и успешно сдали экзамены
                    li.fact__item.fact__item_5
                        .fact__box.fact__box_rounded
                            p.fact__title 83%
                            p.fact__inner-description новых курсантов
                        .fact__bottom-description.text_center записываются по рекомендации знакомых
        section#studying
            h2.h2.h2_dashed.text_uppercase
                span.h2_text Этапы обучения
            .container
                ul.stages__list
                    li.stages__item
                        img.stages__image.stages__image_1(src=require('assets/images/stages/book.webp') alt='Книга' loading="lazy")
                        h3.stages__title.text_uppercase.text_center Теория
                        p.stages__description.text_uppercase.text_center Автошкола предлагает онлайн и офлайн обучение теории по стандартам Минобразования и ГИБДД.
                        p.program__list-title.text_center В программу обучения входит:
                        ul.program__list
                            li.program__item
                                img.program__image(src=require('assets/images/stages/book2.webp') alt='' loading="lazy")
                                p.program__description.text_uppercase Правила дорожного движения
                            li.program__item
                                img.program__image(src=require('assets/images/stages/lightning.webp') alt='' loading="lazy")
                                p.program__description.text_uppercase Основы устройство автомобиля
                            li.program__item
                                img.program__image(src=require('assets/images/stages/shield.webp') alt='' loading="lazy")
                                p.program__description.text_uppercase Основы безопасности дорожного движения
                            li.program__item
                                img.program__image(src=require('assets/images/stages/bag.webp') alt='' loading="lazy")
                                p.program__description.text_uppercase Основы оказания первой помощи
                    li.stages__item
                        img.stages__image.stages__image_2(src=require('assets/images/stages/wheel.webp') alt='Руль' loading="lazy")
                        h3.stages__title.text_uppercase.text_center Практика
                        p.stages__description.text_uppercase.text_center Обучение вождению автомобиля под руководством опытных инструкторов.
                        p.program__list-title.text_center В программу вождения входит:
                        ul.program__list
                            li.program__item
                                img.program__image(src=require('assets/images/stages/gears.webp') alt='' loading="lazy")
                                p.program__description.text_uppercase Изучение узлов автомобиля
                            li.program__item
                                img.program__image(src=require('assets/images/stages/parking.webp') alt='' loading="lazy")
                                p.program__description.text_uppercase Навыки парковки, движения во дворе
                            li.program__item
                                img.program__image(src=require('assets/images/stages/city.webp') alt='' loading="lazy")
                                p.program__description.text_uppercase Навыки вождения в городе
                            li.program__item
                                img.program__image(src=require('assets/images/stages/wheel2.webp') alt='' loading="lazy")
                                p.program__description.text_uppercase Найм инструктора для занятий
                    li.stages__item
                        img.stages__image.stages__image_3(src=require('assets/images/stages/list.webp') alt='Водительские права' loading="lazy")
                        h3.stages__title.text_uppercase.text_center Экзамен
                        p.stages__description.text_uppercase.text_center Представители автошколы сопровождают курсантов во время сдачи экзаменов
                        p.program__list-title.text_center 3 шага до получения прав:
                        ul.program__list
                            li.program__item
                                img.program__image(src=require('assets/images/stages/book2.webp') alt='' loading="lazy")
                                p.program__description.text_uppercase Внутренние экзамены
                            li.program__item
                                img.program__image(src=require('assets/images/stages/display.webp') alt='' loading="lazy")
                                p.program__description.text_uppercase Теоретический экзамен в ГИБДД
                            li.program__item
                                img.program__image(src=require('assets/images/stages/map.webp') alt='' loading="lazy")
                                p.program__description.text_uppercase Экзамен площадка + город
                            li.program__item
                                img.program__image(src=require('assets/images/stages/document.webp') alt='' loading="lazy")
                                p.program__description.text_uppercase Получите в/у
        section#prices
            h2.h2.h2_dashed.text_uppercase
                span.h2_text Цены
            .container
                ul.prices__list
                    each price in prices
                        li.prices__item
                            h3.prices__h3.h3= price.title
                            h4.prices__h4.h4 Цены
                            ul.price__list
                                if price.price
                                    li.price__item
                                        p.price__description Итого:
                                        p.price__total= price.price
                                else
                                    li.price__item
                                        p.price__description 20 часов*:
                                        p.price__total= price["20"]
                                    li.price__item
                                        p.price__description 40 часов*:
                                        p.price__total= price["40"]
                                    li.price__item
                                        p.price__description 56 часов*:
                                        p.price__total= price["56"]
                                li.price__item
                                    p.price__description Первый взнос:
                                    p.price__total= price.downPayment
                .prices__description * В академических часах
                .prices__description ** Можно разбить: 12000 ₽ сразу + 5000 ₽ через 2 недели
                h2.h2.prices__title.text_center.text_uppercase Дополнительный накат
                ul.overrun.prices__list
                    each course in overrun
                        li.prices__item.d-flex.flex-column
                            h3.overrun__h3.prices__h3.h3.text-center.text_uppercase= course.title
                            ul.price__list
                                each feature in course.features
                                    li.price__item
                                        p.price__description= feature
                            .overrun__price-box
                                p.price__description Стоимость:
                                p.price__total.overrun__total= course.price
                +enrollModal('btn prices__btn btn_round btn_center', 'ЗАПИСАТЬСЯ НА ОБУЧЕНИЕ')
        section#classes
            h2.h2.h2_dashed.text_uppercase
                span.h2_text Классы
            .container
                .classes__box
                    p.classes__description Учебные классы автошколы расположены во всех районах Москвы — вы не будете тратить много времени, чтобы добраться на занятия. Аудитории оборудованы всем необходимым для качественного обучения и тестирования курсантов.
                    .classes__carousel
                        .swiper-wrapper
                            each classroom, i in classes
                                .swiper-slide
                                    img(src=require(classroom) loading="lazy" alt=`Класс ${i}`)
                                    .swiper-lazy-preloader
                            .swiper-button-prev
                                svg(width='39' height='37' viewBox='0 0 39 37' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(x='1.5' y='1.5' width='35.2529' height='33.7883' rx='16.8941' stroke='#5CDD4D' stroke-width='3')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M22.0024 13.3308C22.1524 13.4776 22.1524 13.7155 22.0024 13.8623L17.6633 18.1066L22.0024 22.351C22.1524 22.4978 22.1524 22.7357 22.0024 22.8825C21.8523 23.0293 21.6091 23.0293 21.459 22.8825L16.8482 18.3724C16.6981 18.2256 16.6981 17.9877 16.8482 17.8409L21.459 13.3308C21.6091 13.184 21.8523 13.184 22.0024 13.3308Z' fill='#5CDD4D' stroke='#5CDD4D' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
                            .swiper-button-next
                                svg(width='39' height='37' viewBox='0 0 39 37' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(x='-1.5' y='1.5' width='35.2529' height='33.7883' rx='16.8941' transform='matrix(-1 0 0 1 36 0)' stroke='#5CDD4D' stroke-width='3')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M17.5953 13.3308C17.4452 13.4776 17.4452 13.7155 17.5953 13.8623L21.9344 18.1066L17.5953 22.351C17.4452 22.4978 17.4452 22.7357 17.5953 22.8825C17.7453 23.0293 17.9886 23.0293 18.1387 22.8825L22.7495 18.3724C22.8996 18.2256 22.8996 17.9877 22.7495 17.8409L18.1387 13.3308C17.9886 13.184 17.7453 13.184 17.5953 13.3308Z' fill='#5CDD4D' stroke='#5CDD4D' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')


        section#advantages.background_grey-variant
            .container
                h2.h2.advantages__title.text_center.text_uppercase Преимущества
                p.advantages__undertitle.text_uppercase.text_center Мы не просто обучаем, мы даем гарантии
                ul.advantages__list
                    li.advantages__item
                        .advantage__text
                            h3.advantage__title.text_uppercase Индивидуальный подход
                            p.advantage__description.text_uppercase Теорию объясняем до полного понимания, вождение — в индивидуальном темпе. У нас очень доброжелательные инструкторы.
                        img.advantage__image(src=require('assets/images/individual.webp') alt='' loading="lazy")
                    li.advantages__item
                        img.advantage__image(src=require('assets/images/road.webp') alt='' loading="lazy")
                        .advantage__text
                            h3.advantage__title.text_uppercase Удобный график
                            p.advantage__description.text_uppercase Вы можете проходить обучение на права днем или вечером, в будние или выходные дни, чтобы не нарушать свой привычный режим и все успевать.
                    li.advantages__item
                        .advantage__text
                            h3.advantage__title.text_uppercase Даем будущим водителям сильные знания и навыки
                            p.advantage__description.text_uppercase Наши курсанты сдают на права с 1 раза и уверенно чувствуют себя на дорогах.
                        img.advantage__image(src=require('assets/images/skills.webp') alt='' loading="lazy")
                p.advantages__description.text_uppercase.text_uppercase.text_center *Стоимость обучения в автошколе фиксирована, ученики не несут дополнительных расходов. Бензин, страховка и т.д. — все входит в цену курса.
                p.advantages__description.text_uppercase.text_uppercase.text_center *Возможность оплаты офлайн- и онлайн-обучения в автошколе в рассрочку без переплат.
        section#auto
            h2.h2.h2_dashed.text_uppercase
                span.h2_text Автодромы и Автопарк
            section#autodrom
                .container
                    h3.auto__title.text_center.text_uppercase Наши автодромы
                    ul.autodrom__list
                        li.autodrom__item.autodrom__item_1.text_uppercase Автодромы полностью укомплектованы и расположены в местах города с хорошей транспортной доступностью.
                        li.autodrom__item.autodrom__item_2
                            img.autodrom__image(src=require('assets/images/autodrom/autodrom-1.webp') alt='Автодром 1' loading="lazy")
                        li.autodrom__item.autodrom__item_3
                            img.autodrom__image(src=require('assets/images/autodrom/autodrom-2.webp') alt='Автодром 2' loading="lazy")
                        li.autodrom__item.autodrom__item_4
                            img.autodrom__image(src=require('assets/images/autodrom/autodrom-3.webp') alt='Автодром 3' loading="lazy")

            section#autopark
                .container
                    h3.auto__title.text_center.text_uppercase Наш автопарк
                    p.autopark__description.text_center.text_uppercase АвтоМСК располагает новым автопарком иномарок. Подготовка водителей категории В осуществляется на МКПП или АКПП по желанию курсанта. Все машины технически исправны, обслужены и застрахованы.
                    ul.autopark__list
                        li.autopark__item.text_uppercase Hyundai
                            img.autopark__image(src=require('assets/images/autopark/hyundai-1.webp') alt='Автомобиль' loading="lazy")
                        li.autopark__item.text_uppercase ŠKODA
                            img.autopark__image(src=require('assets/images/autopark/skoda-1.webp') alt='Автомобиль' loading="lazy")
                        li.autopark__item.text_uppercase ŠKODA
                            img.autopark__image(src=require('assets/images/autopark/skoda-2.webp') alt='Автомобиль' loading="lazy")
                        li.autopark__item.text_uppercase Hyundai
                            img.autopark__image(src=require('assets/images/autopark/hyundai-2.webp') alt='Автомобиль' loading="lazy")
                    +enrollModal('btn btn_round btn_center', 'ЗАПИСАТЬСЯ НА ОБУЧЕНИЕ')
        section#instructors
            h2.h2.h2_dashed.text_uppercase
                span.h2_text Инструкторы
            .container
                ul.instructors__list
                    each instructor, i in instructors
                        li.instructors__item
                            if (i % 2)
                                img.instructors__image(src=require(instructor.imageSrc) alt='Инструктор' loading="lazy")
                                p.instructors__description.text_uppercase= instructor.description
                            else
                                p.instructors__description.text_uppercase= instructor.description
                                img.instructors__image(src=require(instructor.imageSrc) alt='Инструктор' loading="lazy")

        section#branches
            h2.h2.h2_dashed.text_uppercase
                span.h2_text Филиалы
            .container
                #map_container.constructor-map
                p.branches__description.text_center.text_uppercase На карте вы видите все наши филиалы в разных районах Москвы.
                p.branches__description.text_center.text_uppercase Выберите ближайший, чтобы учиться в автошколе рядом с домом, работой или вузом.
                ul.branches__list
                    each branch in branches
                        li.branches__item
                            a.btn.btn_square.btn_square-black.btn_not-animated(href=`branches/${branch.href}`)= branch.name

        section#reviews.background_grey-variant.green
            .container
                h2.reviews__title.text_center.text_uppercase Отзывы наших учеников
                ul.reviews__list
                    each review in reviews
                        li.reviews__item
                            .review__text-box
                                h3.review__title.text_uppercase= review.title
                                p.review__description.text_uppercase= review.description
                            img.review__image(src=require(review.imageSrc) alt=review.title loading="lazy")
        section#rewards
            h2.h2.h2_dashed.text_uppercase
                span.h2_text Наши награды
            .container
                p.rewards__description.text_center.text_uppercase Высокое качество обучения на права А/Б в автошколе АвтоМСК подтверждают не только отзывы благодарных клиентов, но и следующие награды:
                ul.rewards__list
                    each reward in rewards
                        li.rewards__item
                            .reward__image-box
                                img.reward__image(src=require(reward.imageSrc) alt='' loading="lazy")
                            p.reward__description.text_center.text_uppercase= reward.description
        section#faq
            h2.h2.h2_dashed.text_uppercase.text_center
                span.h2_text Часто задаваемые вопросы
            .container
                ul.faq__accordion
                    each item, i in faq
                        li.faq__item
                            input.faq__checkbox(type='checkbox' id=`checkbox_${i}`)
                            label.faq__question.text_uppercase(for=`checkbox_${i}`)= item.question
                                svg.faq__icon(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16 0V32' stroke='#4F4F4F' stroke-width='4')
                                    path(d='M32 16L1.01328e-06 16' stroke='#4F4F4F' stroke-width='4')
                            p.faq__answer.text_uppercase= item.answer
        section#enroll
            h2.h2.h2_dashed.text_uppercase.text_center
                span.h2_text Оставить заявку
            .container
                p.enroll__description.text_uppercase.text_center Наш менеджер перезвонит вам
                +enrollForm(1)



